# ide's
.vscode
.idea

# docker
dockerfile
.dockerignore

# git
.git
.gitignore
.github

# node stuff
node_modules
npm-debug.log

# dev
.jshintrc
.nvmrc
.env
.env_example
dist

# misc
readme.md
LICENSE

# database
contacts.db